body {
  margin: 0 !important;
  padding: 0 !important;
}

header .row,
footer .row {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
header{
  font-size: 1.8rem;
  justify-content: center;
}

.header-navbar{
  background: #00bcd4;
  color: white;
}

nav p{
  float: center;
  cursor: pointer;
}

nav p:hover{
  background-color: #008ba3;
}

.active-nav{
  background-color: #008ba3;
}

header nav {
  display: flex;
}

header p {
  display: flex !important;
  flex-wrap: wrap !important;
  padding: 20px;
  margin: 0;
}

footer{
  margin-top: 50px;
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}
